$main-font-family: "League Spartan";
$main-info-color: #5ca5a5;
$main-title-color: #2b3939;
$main-card-shadow: 0px 15px 20px -5px #0d718226;
$card-title-font-size: 22px;
$img-shadow: 0px 0px 35px 0px #0000000c inset;
