// imports
@import "./font.css";
@import "./variable";
@import "./mixins";

//

// styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $main-font-family, sans-serif;
  background-color: #effafa;
}
.container {
  max-width: 1140px;
  width: 100%;
  padding-inline: 15px;
  margin: 10px auto;
}
button {
  cursor: pointer;
  transition: all 0.2s linear;
  border: none;
}
select {
  cursor: pointer;
  font-size: 16px;
  
}
//
.header {
  background-image: url(../images/header-img.png);
  background-repeat: no-repeat;
  height: 156px;
  margin-bottom: 30px;
  max-width: 100%;
  width: 100%;
  background-size: cover;
}
.save-btn {
  border-radius: 12px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  max-width: 90%;
  width: 100%;
  margin-top: 40px;
  margin-inline: auto;
}
.manage-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.form-section {
  max-width: 500px;
  margin-inline: auto;
  border-radius: 8px;
  padding: 30px 20px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  margin-bottom: 80px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  gap: 40px;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
  div {
    max-width: 40%;
    width: 100%;
  }
}
.input-style {
  max-width: 90%;
  width: 100%;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid gray;
}
.select-wrapper {
  max-width: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.select-option-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  width: 100%;
  gap: 20px;
  select {
    border-radius: 8px;
    border: 1px solid gray;
    padding: 10px 20px;
  }
}
::placeholder {
  font-size: 18px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 40px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: $main-card-shadow;
  border: none;
  margin-bottom: 24px;
  position: relative;
}

.card-img {
  border-radius: 50%;
}
.card-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card-job-about {
  display: flex;
  align-items: center;
  gap: 30px;
  li {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.13846154510974884px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(124, 143, 143, 1);
  }
}
.company-name {
  display: flex;
  align-items: center;
  gap: 20px;
}
.company-name-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 16.56px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: $main-info-color;
}
.company-name-new,
.company-name-feat {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.10769230872392654px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  background-color: $main-info-color;
  border-radius: 12px;
  padding: 6px;
}
.company-name-feat {
  color: #fff;
  background-color: $main-title-color;
  padding: 6px 7px;
}
.card-job {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: $main-title-color;
  margin-block: 10px 7px;
}
.card-job-about-time {
  list-style: none;
}
.card-skills ul {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  li {
    list-style: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.1230769231915474px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: $main-info-color;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: rgba(92, 165, 165, 10%);
  }
}
label {
  font-size: 20px;
  cursor: pointer;
}
.delete-btn{
position: absolute;
z-index: 10; 
right: 30px;
top: 10px;
font-size: 28px;
cursor: pointer;
}